Repository lianghx-319/hanstack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --color, prettier --write

.lintstagedrc:

{
  "{apps,packages}/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --color",
    "prettier --write"
  ],
  "{apps,packages}/**/*.{css,less,md}": ["prettier --write"]
}

ci(common): try github actions
  .github/workflows/github-actions-demo.yml
Due: none

docs(eslint-config): add readmd
  common/autoinstallers/rush-lint/commitlint.config.js
  packages/eslint-config/README.md
Due: prettier --write

feat(common): add giiker and utils
  .gitignore
  .lintstagedrc
  common/autoinstallers/rush-lint/commitlint.config.js
  common/config/rush/pnpm-lock.yaml
  packages/giiker/.eslintrc.js
  packages/giiker/package.json
  packages/giiker/src/Giiker.ts
  packages/giiker/src/constants.ts
  packages/giiker/src/index.ts
  packages/giiker/src/interface.ts
  packages/giiker/tsconfig.json
  packages/utils/.eslintrc.js
  packages/utils/package.json
  packages/utils/src/defer.ts
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  rush.json
Due: eslint --fix --color, prettier --write

feat(eslint-config): add exclude dir
  .github/workflows/github-actions-demo.yml
  .github/workflows/rush-publish.yml
  packages/eslint-config/base.js
  packages/giiker/package.json
  packages/giiker/tsup.config.ts
  packages/utils/package.json
  packages/utils/tsup.config.ts
Due: eslint --fix --color, prettier --write

chore: init prettierrc
  .prettierignore
  .prettierrc.js
Due: none

chore: add license
  LICENSE
Due: none

chore: clear repo
  .gitattributes
  .gitignore
  .prettierignore
  .prettierrc.js
  LICENSE
  apps/.gitkeep
  common/config/rush/.npmrc
  common/config/rush/.npmrc-publish
  common/config/rush/.pnpmfile.cjs
  common/config/rush/artifactory.json
  common/config/rush/build-cache.json
  common/config/rush/command-line.json
  common/config/rush/common-versions.json
  common/config/rush/experiments.json
  common/config/rush/rush-plugins.json
  common/config/rush/version-policies.json
  common/git-hooks/commit-msg.sample
  packages/.gitkeep
  rush.json
Due: none

chore: using pnpm + turbo
  .eslintrc.js
  .gitignore
  README.md
  apps/docs/.eslintrc.js
  apps/docs/README.md
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/index.tsx
  apps/docs/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/README.md
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/tsconfig.json
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/tsconfig/README.md
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/ui/Button.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: eslint --fix --color, prettier --write

chore: upgrade trubo
  README.md
  apps/docs/next.config.js
  apps/docs/package.json
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/index.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix --color, prettier --write

chore: add node-version file
  .node-version
Due: none

feat: add rush plugin init project
  .gitignore
  common/autoinstallers/command-plugins/.npmrc
  common/autoinstallers/command-plugins/.rush/temp/last-install.flag
  common/autoinstallers/command-plugins/package.json
  common/autoinstallers/command-plugins/pnpm-lock.yaml
  common/autoinstallers/command-plugins/rush-plugins/rush-init-project-plugin/rush-init-project-plugin/command-line.json
  common/autoinstallers/command-plugins/rush-plugins/rush-init-project-plugin/rush-plugin-manifest.json
  common/config/rush/repo-state.json
  common/config/rush/rush-plugins.json
  common/scripts/install-run-rush-pnpm.js
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  common/temp/.npmrc
  common/temp/.pnpmfile.cjs
  common/temp/current-variant.json
  common/temp/last-install.flag
  common/temp/last-link.flag
  common/temp/package.json
  common/temp/pnpm-local
  common/temp/pnpm-store/metadata/registry.npmjs.org/pnpm.json
  common/temp/pnpm-store/pnpm-state.json
  common/temp/pnpm-workspace.yaml
  common/temp/pnpmfileSettings.json
  common/temp/rush#80569.lock
  rush.json
Due: none

feat(@twin.arco/colors): init project from bytemate
  .gitignore
  common/autoinstallers/command-plugins/rush-plugins/rush-init-project-plugin/rush-init-project-plugin/command-line.json
  common/autoinstallers/command-plugins/rush-plugins/rush-init-project-plugin/rush-plugin-manifest.json
  common/config/rush/pnpm-lock.yaml
  common/temp/pnpm-workspace.yaml
  common/temp/rush#80569.lock
  packages/twin-arco-colors/.gitignore
  packages/twin-arco-colors/README.md
  packages/twin-arco-colors/gulpfile.js
  packages/twin-arco-colors/package.json
  packages/twin-arco-colors/src/colors.ts
  packages/twin-arco-colors/src/index.less
  packages/twin-arco-colors/src/index.ts
  packages/twin-arco-colors/src/tools/ArcoColor.ts
  packages/twin-arco-colors/src/tools/create-ts-file.ts
  packages/twin-arco-colors/src/tools/index.ts
  packages/twin-arco-colors/src/tools/normalize-css-vars.ts
  packages/twin-arco-colors/src/vite-env.d.ts
  packages/twin-arco-colors/tsconfig.json
  packages/twin-arco-colors/vite.config.ts
  rush.json
Due: eslint --fix --color, prettier --write

feat(@hanstack/eslint-config): init project
  common/config/rush/pnpm-lock.yaml
  common/temp/.npmrc
  common/temp/.pnpmfile.cjs
  common/temp/current-variant.json
  common/temp/last-install.flag
  common/temp/last-link.flag
  common/temp/package.json
  common/temp/pnpm-local
  common/temp/pnpm-store/pnpm-state.json
  common/temp/pnpm-workspace.yaml
  common/temp/pnpmfileSettings.json
  packages/eslint-config/package.json
  packages/twin-arco-colors/gulpfile.js
  packages/twin-arco-colors/package.json
  packages/twin-arco-colors/src/index.ts
  packages/twin-arco-colors/src/tools/ArcoColor.ts
  packages/twin-arco-colors/src/tools/create-ts-file.ts
  packages/twin-arco-colors/src/tools/index.ts
  packages/twin-arco-colors/src/tools/normalize-css-vars.ts
  packages/twin-arco-colors/vite.config.ts
  rush.json
Due: eslint --fix --color, prettier --write
